{% extends 'base.html.twig' %}

{% block body %}

<h1>Калькулятор</h1>
<div>
{{ form_start (form) }}
	<div>
		{{ form_label(form.arg1, 'Аргумент 1') }}
		{{ form_widget(form.arg1, {
			'attr': {'required': true}
		}) }}
	</div>
	<div>
		{{ form_label(form.sign, 'Операция') }}
		{{ form_widget(form.sign, {
			'attr': {'class': 'dropdown-menu position-static d-grid gap-1 p-2 rounded-3 mx-0 shadow w-220px'}
        }) }}
	</div>
	<div>
		{{ form_label(form.arg2, 'Аргумент 2') }}
		{{ form_widget(form.arg2, {
			'attr': {'required': true}
		}) }}
	</div>
	<div>
		{{ form_errors(form) }}
	</div>
	<button type="submit" class="btn btn-primary" id="calculate">Вычислить</button>
	{{ form_end (form) }}
</div>
<div id="result">
	{{ result }}
</div>
{% endblock %}